:root {
      --color-primary: #002939;
      --color-secondary: #DDC190;
      --color-dark: #323232;
      --color-light: #fff;

      --font-primary: 'Merriweather', serif;
      --font-secondary: "Open Sans", sans-serif;
}

/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {
      box-sizing: border-box;
}
html {
      scroll-behavior: smooth;
}
body {
	line-height: 185%;
      font-family: var(--font-secondary);
      color: var(--color-dark);
      overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
a {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
      
}
/* generall style css */
h1,h2,h3,h4,h5 {
      font-family: var(--font-primary);
      line-height: 1.45;
}
p {
      font-family: var(--font-secondary);
      line-height: 1.8;
}
header {
      margin-bottom: 9.25rem;
      background: var(--color-primary);
}
section,
nav {
      width: 100vw;
      padding-inline: 15%;
}
section {
      padding-block: 6.25rem;
}
.wrapper {
      display: flex;
      flex-wrap: wrap;
}
.menu-item {
      font-family: var(--font-primary);
      transition-duration: .3s;
      opacity: .5;
}
.panel-content,
.content {
      display: flex;
      flex-direction: column;
}
img {
      width: 100%;
      height: 100%;
}
.cta {
      display: flex;
      gap: 1rem;
}
.btn {
      border-radius: .313rem;
      font-family: var(--font-primary);
      font-weight: 700;
      display: flex;
      justify-content:space-between;
      align-items: center;
      gap: .5rem;
      transition-duration: .3s;
}
.btn-ternary {
      border: 1px solid var(--color-secondary);
      background: transparent;
      color: var(--color-secondary);
}
.btn-ternary:hover {
      background: var(--color-secondary);
      color: var(--color-primary);
}
.btn-lg {
      padding: 1.5rem 3rem;
      font-size: 1.125rem;
}
.btn-sm {
      padding: .85rem 1.5rem;
      font-size: 1rem;
}
.section-heading,
.section-content,
.section-footer {
      display: flex;
}
.section-heading,
.section-content {
      margin-bottom: 6.25rem;
}
.section-heading {
      flex-direction: column;
      justify-content: center;
      text-align: center;
}
.section-content,
.section-footer {
      flex-wrap: wrap;
}
.banner,
.panel {
      width: 100%;
      border-radius: .313rem;
      background: var(--color-primary);
      display: flex;
}
.card {
      border-radius: .313rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
}
.card-header {
      padding: 1.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
}
.card-body {
      display: flex;
      justify-content: space-between;
}
.section-product-populer,
.section-product-arrival {
      margin-bottom: 6.25rem;
}
#navbar {
      padding-block: 2rem;
      position: fixed;
      top: 0;
      left: 0;
}
#navbar .wrapper {
      justify-content: space-between;
      align-items: center;
}
#navbar .menu,
#navbar .menu-link,
#navbar .menu-icon {
      display: flex;
      align-items: center;
}
#navbar .menu {
      gap: 5rem;
}
#navbar .menu-link,
#navbar .menu-icon {
      gap: 3rem;
}
#navbar .brand,
#navbar .menu-item {
      color: var(--color-light);
}
#navbar .brand {
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
}
#navbar .brand span {
      color: var(--color-secondary);
}
#navbar .menu-item:hover {
      opacity: 1;
      color: var(--color-secondary);
}
#hero {
      padding-top: 14.25rem;
      padding-bottom: 4rem; 
      width: 100vw;
      padding-inline: 15%;
}
#hero .content {
      width: 45%;
}
#hero .display {
      position: relative;
      width: 55%;
      height: 22.313rem;
}
#hero .headline {
      font-size: 2.875rem;
      color: var(--color-secondary);
      font-weight: 700;
}
#hero .subheadline {
      font-size: 1.25rem;
      color: var(--color-light);
}
#service .section-content .panel-cta,
#service .section-footer .banner-cta,
#hero .cta {
      margin-top: auto;
}
#hero img {
      position: absolute;
      right: 0;
}
#hero img:nth-child(1) {
      height: 23.375rem;
      top: 40%;
}
#hero img:nth-child(2) {
      width: 8.25rem;
      height: 8.25rem;
      top: -20%;
}

#product .section-heading .title,
#service .section-heading .title {
      margin-bottom: .5rem;
      font-size: 1.875rem;
      font-weight: 700;
}
#product .section-heading .subtitle,
#service .section-heading .subtitle {
      font-size: 1.125rem;
}
#service .section-content {
      justify-content: space-between;
      color: var(--color-light);
}
#service .section-content .panel {
      padding: 1.5rem;
      max-width: 26.5rem;
      justify-content: space-between;
}
#service .section-content .panel-content {
      width: 40%;
}
#service .section-content .panel-display {
      height: 11.5rem;
}
#service .section-content .panel-title {
      font-size: 1.625rem;
      font-weight: 700;
}
#service .section-content .panel-subtitle {
      margin-bottom: .5rem;
}
#service .section-footer .banner {
      padding-block: 4rem;
      position: relative;
}
#service .section-footer .content {
      width: 40%;
      height: 11.5rem;
      padding-left: 6rem;
}
#service .section-footer .banner-title {
      font-size: 2.125rem;
      font-weight: 700;
      color: var(--color-light);
}
#service .section-footer .banner-subtitle {
      font-size: 1.25rem;
      font-family: var(--font-primary);
      color: var(--color-light);
}
#service .section-footer img {
      max-width: 41.625rem;
      height: 11.5rem;
      position: absolute;
      bottom:0;
      right: 0;
}

#product .section-product-arrival .category,
#product .section-product-populer .category {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem; 
}
#product .section-product-arrival .category .title,
#product .section-product-populer .category .title {
      font-size: 1.5rem;
      font-weight: 700;
}
#product .section-product-arrival .wrapper,
#product .section-product-populer .wrapper {
      justify-content: space-between;
}
#product .section-product-arrival .card,
#product .section-product-populer .card {
      max-width: 18.938rem;
      margin-bottom: 3rem;
}
#product .section-product-arrival .card {
      box-shadow: 1px 1px 3px rgba(0,0,0,.5);
      position: relative;
}
#product .section-product-populer .card-header {
      border: 1px solid var(--color-primary);
}
#product .section-product-arrival .card-header {
      background: var(--color-primary);
}
#product .section-product-arrival .card-body {
      padding: 0 1rem 1rem;
}
#product .section-product-arrival img,
#product .section-product-populer img {
      height: 11.5rem;
      object-fit: contain;
}
#product .section-product-populer .label {
      background: var(--color-primary);
      color: var(--color-light);
      text-align: center;
      margin-bottom: .5rem;
}
#product .section-product-arrival .btn {
      position: absolute;
      bottom: 0;
      right: 0;
}
#product .section-product-arrival .card .title {
      font-size: 1.125rem;
      font-weight: 700;
      margin-bottom: .5rem;
}
#product .section-product-arrival .rate {
      margin-bottom: 2.5rem;
}
#product .section-product-arrival .price {
      font-size: 1.5rem;
      font-weight: 700;
}
#product .section-footer {
      justify-content: center;
}