:root {
      --color-primary: #002939;
      --color-secondary: #DDC190;
      --color-dark: #323232;
      --color-light: #fff;

      --font-primary: 'Merriweather', serif;
      --font-secondary: "Open Sans", sans-serif;
}

/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {
      box-sizing: border-box;
}
body {
	line-height: 150%;
      font-family: var(--font-secondary);
      color: var(--color-dark);
}
ol, ul {
	list-style: none;
}
a {
      text-decoration: none;
      display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* general style css */
nav {
      width: 100vw;
      background: var(--color-primary);
}
.container {
      max-width: 85.375rem;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
}
.wrapper {
      width: inherit;
      display: flex;
}
.menu-item,
.brand {
      font-family: var(--font-primary);
}
.menu-item {
      font-size: 1.125rem;
}
.brand {
      font-size: 1.5rem;
}


/* navbar */
#navbar {
      padding: 2rem 0 1.5rem;
}
#navbar .wrapper {
      justify-content: space-between;
      align-items: center;
}
#navbar .navigation {
      display: flex;
      gap: 4.688rem;
      align-items: center;
}
#navbar .brand {
      text-transform: uppercase;
      user-select: none;
}
#navbar .brand span {
      color: var(--color-secondary);
}
#navbar .menu-item {
      display: block;
      padding: 0.5rem;
      transition-duration:.3s;
}
#navbar .menu-item:hover {
      color: var(--color-secondary);
}
#navbar .toggle {
      display: none;
}
#navbar .navigation-icon,
#navbar .navigation-menu {
      display: flex;
      gap: 3rem;
}
#navbar .menu-toggle,
#navbar .menu-item,
#navbar .brand {
      color: var(--color-light);
}

/* desktop */
@media screen and (max-width: 1440px) {
      html {
            font-size: 85%;
      }
      .container {
            padding-inline: 5%;
      }
}

/* full HD */
@media screen and (max-width: 1024px) {
      html {
            font-size: 80%;
      }
      #navbar .navigation-icon,
      #navbar .navigation-menu {
            display: flex;
            gap: 1rem;
      }
}
